<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Houston - ¡We have an ERROR!</title>
	<style>
		html, body {
			font-size: 10px;
			font-family: sans-serif;
			background-color: #dddddd;
		}
		a{
			text-decoration: none;
			font-size: 35px;
			padding: 30px;
			color: black;
		}
		a:hover{
			color: white;
			background-color: tomato;
		}
		h1 {
			font-size: 3.2em;
		}
		h2 {
			font-size: 2.4em;
			margin-bottom: 40px;
		}
		pre {
			color: crimson;
			border: solid 1px crimson;
			display: block;
			padding: 10px;
			border-radius: 10px;
			font-size: 1.4em;
		}
		pre::first-line {
			font-weight: bold;
		}
		p {
			font-size: 1.5em;
		}
	</style>
</head>
<body>
	<h1>Si usted llego aqui, quizas es porque no existe</h1>
	<h2>Que desea hacer: </h2>
	<a href="/">Home</a>
	<a href="/users/login">Login</a>
	<a href="/users/register">Register</a>
	<!-- <p>Error trying to access to: <b><%= path %></b></p>
	<pre><i><%= error.stack %></i></pre> -->
</body>
</html>
