<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page</title>
	<link rel="stylesheet" href="/css/app.css">
</head>
<body>
	<h1>Register</h1>
	
	<form action="">
		<label for="name">Su nombre</label>
		<input type="text" id="name" name="name">
		<button type="submit">Registrarse</button>
	</form>
	<img src="/images/node.jpg" width="55%">
</body>
</html>